<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>resultado de la suma <%=sumar %></h2>
   <h2>resultado de la resta <%=restar %></h2>
   <h2>resultado de la multiplicacion <%=multiplicar %></h2>
   <h2>resultado de la division <%=divisor %></h2>

   <h1>Texto aleatorio</h1>
    <p><%=textoAleatorio%></p>
   <h1>
    <a href="http://localhost:3000">atras</a>
   </h1>
</body>
</html>